<li>
    <div class="post-texto">
        {{post.texto}}
    </div>
    <div class="post-info">
        <span class="post-time">Publicado hace {{post.tiempo_desde_creacion}}</span>
        <span class="post-user">
            por
            {% if post.user.username == user.username %}
                mi
            {% else %}
                {{ post.user.username }}
            {% endif %}
        </span>
        <img src="{{post.emote.imagen.url}}" />
    </div>
    <button data-post-id="{{post.id}}" class="btn btn-default">Responder</button>
    <div data-post-id="{{post.id}}" class="hidden respuesta-container">
        <form data-post-id="{{post.id}}" id="respuesta-{{post.id}}" action="" method="post">
            <input name="texto" type="text" class="repuesta-texto">
            <input type="submit" value="Responder">
        </form>
    </div>
</li>