<li class="post-list-element">
    {% if post.es_op %}
    <div class="post-emote-container">
        <img src="{{post.emote.imagen.url}}" />
    </div>
	{% endif %}
    <div class="post-contenido">
        {% include 'perfil/post_contenido.html' %}
        {% if post.es_op %}
            <div id="respuestas_{{post.id}}" class="{% if post.respuestas|length == 0 %}hidden{% endif %}">
                <button onclick="$('#respuestas-lista_{{post.id}}').toggleClass('hidden');" class="btn btn-orange respuestas-toggle">
                    <span class="glyphicon glyphicon-menu-down"></span>
                    Respuestas
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>
                 <div class="respuestas-container">
                    <ul id="respuestas-lista_{{post.id}}" class="hidden respuestas">
                        {% for respuesta in post.respuestas %}
                            <li class="respuesta">
                                {% include 'perfil/post_contenido.html' with post=respuesta %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated and post.user.username != user.username %}
                <div data-post-id="{{post.id}}" class="hidden responder-container">
                    <form data-post-id="{{post.id}}" id="respuesta-{{post.id}}" action="" method="post">
                        <input name="texto" type="text" class=" form-control respuesta-texto">
                        <input class="btn btn-orange" type="submit" value="Responder">
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if post.es_op %}
        <!-- RESPONDER (solo si no eres el propietario del perfil) -->
        {% if user.is_authenticated and post.user.username != user.username %}
            <button data-post-id="{{post.id}}" class="btn btn-orange responder-toggle">Responder</button>
        {% else %}
        <div class="respuestas-invisible"></div>
        {% endif %}
    {% endif %}
</li>