{% load static from staticfiles %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

{% csrf_token %}

{% if form.title %}
    <div class="form_title">
        {{form.title}}
    </div>
{% endif %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields  %}
    <div class="form-field{% if field.errors %} error{% endif %}">
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon">{{ field.label }}</span>
                {{ field|add_class:"form-control" }}
            </div>
            <span class="help-block help_text">
                {{ field.help_text }}
            </span>
            <span class="help-block errors">
                {{ field.errors }}
            </span>
        </div>
    </div>
{% endfor %}
<div class="form-actions">
    {# BOTONES! #}
    <input class="btn btn-orange" type="submit" value="{{valor_aceptar|default:'Guardar'}}" name="guardar" id="guardar">
    {% if not ocultar_cancelar %}
        <input class="btn btn-orange" type="submit" value="{{valor_cancelar|default:'Cancelar'}}" name="cancelar" id="cancelar">
    {% endif %}
</div>