{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<form method="post" action="{% url 'post' %}">
    {% csrf_token %}
    <textarea class="form-control" maxlength="200" name="texto" id="post-textarea" ></textarea>
    <button type="submit" name="guardar" class="btn btn-default">Publicar</button>

</form>


TESTING:
<div class="dropdown">
    <button class="dropdown-toggle emote-selector" type="button" data-toggle="dropdown"></button>
    <ul class="dropdown-menu table-dropdown">
        {% for emote in emotes %}
            <li class="cell">
                <a href="#" id="emote_{{emote.id}}"><img src="{{emote.imagen.url}}" /></a>
            </li>
        {% endfor %}
    </ul>
</div>