{% extends 'base.html' %}
{% load static from staticfiles %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index_anonimo.css' %}">
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/index-pages.js' %}"></script>
{% endblock %}

{% block contenido %}
<div class="index-anonimo">
    <div class="col-xs-12 col-md-8">
        <div class="detalles">
            <h1>
                Post Me
            </h1>
            <p>
                Este es el proyecto integrado de Brian Holsters para el ciclo formativo de grado superior de Desarrollo de aplicaciones web.
            </p>
            <p>
                Este proyecto surge de la necesidad de mejorar el sistema que usamos para comunicar nuestras opiniones y emociones con respecto a cualquier tema, aunque ya existan numerosas redes sociales, en este proyecto en concreto se va a explorar la “expansión” que puede suponer asignar a cada mensaje dejado por un usuario de forma obligatoria un “emoticono”, de forma que no exista posibilidad de malinterpretación del mensaje.
Cabe destacar que este proyecto no planea sustituir ninguna tecnología ya existente, en lugar de eso tratará de explorar y mostrar un concepto.
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="registro">
            {% include 'forms/registro_form.html' %}
        </div>
    </div>
</div>
{% endblock %}