{% load static from staticfiles %}
<header id="cabecera" class="{% if user.is_staff %}cabecera-admin{% endif %}">
    <div class="cabecera-principal">
        <div class="cabecera-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
        </div>
    </div>
    {# Buscador de usuarios #}
    <select id="select2-buscador-usuarios">
        <option>Activa javascript!</option>
    </select>

    {% if user.is_staff %}
        <div class="cabecera-admin">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                      <span class="navbar-brand" href="#">Administración</span>
                    </div>

                    <ul class="nav navbar-nav">
                        <li class="nav-element">
                            <a href="{% url 'emotes' %}">Emotes</a>
                        </li>
                        <li class="nav-element">
                            <a href="#">Sanciones</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endif %}
    <div class="cabecera-usuario">
        {% if user.is_authenticated %}
            <div class="usuario">
                <span class="nombre-usuario">{{user.username}}{% if user.is_staff %} (admin){% endif %}</span>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            </div>
        {% else %}
            <div class="auth">
                <a class="btn btn-default" href="{% url 'registro' %}">Quiero una cuenta</a>
                <a class="btn btn-default" href="{% url 'login' %}">Iniciar sesión</a>
            </div>
        {% endif %}
    </div>
</header>