<div id="cabecera">
    <div class="cabecera-principal">
        <div class="cabecera-logo">

        </div>
    </div>
    <div class="cabecera-menu">
        <nav>
            <ul class="horizontal-ul">
                <li>amigos</li>
                <li>descubrir</li>
                <li>pollas en vinagre</li>
            </ul>
        </nav>
    </div>

    <div class="cabecera-usuario">
        <div class="usuario">
            <span class="nombre-usuario">NOMBRE DE USUARIO</span>
            <div class="imagen-perfil"></div>
        </div>
    </div>
</div>