{% load static from staticfiles %}
<div id="cabecera">
    <div class="cabecera-principal">
        <div class="cabecera-logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}"></a>
        </div>
    </div>
    <div class="cabecera-usuario">
        {% if user.is_authenticated %}
            <div class="usuario">
                <span class="nombre-usuario">{{user.username}}</span>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            </div>
        {% else %}
            <div class="auth">
                <a class="btn btn-default" href="{% url 'registro' %}">Quiero una cuenta</a>
                <a class="btn btn-default" href="{% url 'login' %}">Iniciar sesión</a>
            </div>
        {% endif %}
    </div>
</div>