*{
    margin: 0;
    padding: 0;
}
p{
    text-align: justify;
}
html{
    background: url('../img/fondo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bodycontent{
    /*este margen tiene que ser igual que la altura de la cabecera*/
    margin-top: 60px;
}
section{
    border-bottom: 1px solid black;
}


.block{
    display: block;
}
.center-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Anchuras: */
.size-10{
    width:10%;
}
.size-20{
    width:20%;
}
.size-30{
    width:30%;
}
.size-40{
    width:40%;
}
.size-50{
    width:50%;
}
.size-60{
    width:60%;
}
.size-70{
    width:70%;
}
.size-80{
    width:80%;
}
size-90{
    width:90%;
}
full-width, size-100{
    width:100%;
}

/*CAJA DE SELECCION DE EMOTE: */
.emote-selector, .emote-selector:active{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: url('../img/boton_emote.png') no-repeat;
    background-size: contain;
    border: 0;
}
.emote-selector:active{
    background:
}

.table-dropdown{
    width: 180px;
    max-height: 180px;
    overflow-y: auto;
    box-sizing: content-box;
}
.table-dropdown li.cell{
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    overflow: hidden;
}
.table-dropdown li.cell a{
padding: 0;
}