
#posts-container{
    margin-top: 30px;
    list-style: none;
}

#perfil-info{
    overflow-y: scroll;
    min-height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 60px;
    border-right: 4px solid #efefef;
    background: #fff;
    padding-left: 20px;
    padding-top: 20px;
}
#posts-list li{
    display: block;
    width: 100%;
    min-height: 80px;
    margin: 10px auto;

    background-color: #fff;
    border: 4px solid #efefef;
    border-radius: 4px;
}
#posts-list li:first-child{
    margin-top: 0;
}
span.perfil-info a{
    text-decoration: none;
    color: inherit;
}
span.perfil-info a:hover{
    font-weight: bold;
}